body {
    background-color: rgb(27, 27, 48);
    color: white;
    display: flex;
}

#container {
    margin: 10% auto 25% auto;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    width: 80%;
    align-items: center;
}

#title h1 {
    text-align: center;
    font-weight: normal;
}

#input-box {
    background-color: rgb(59, 59, 77);
    border: 3px solid white;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

#input-box p {
    font-size: 25px;
    font-weight: bold;
}

#number {
    margin-bottom: 15px;
    width: 80%;
    height: 40px;
    background-color: rgb(10, 10, 33);
    border: 1px solid white;
    color: white;
    font-size: 25px;
}

#convert-btn {
    width: 80%;
    border: 2px solid rgb(242, 176, 78);
    background: linear-gradient(#fecc4c, #feac32);
    height: 40px;
    font-size: 22px;
}

#output {
    background-color: rgb(59, 59, 77);
    border: 3px solid white;
    height: 100px;
    width: 100%;
}

.hidden {
    display: none;
}

